.bg-primary32 {
    background-color: green !important;
    background-repeat: no-repeat;
    background-size: 460px;
    background-position: right;
  }
  .bg-primary33 {
    background-color: rgb(19, 1, 102) !important;
    background-repeat: no-repeat;
    background-size: 460px;
    background-position: right;
  }
  .bg-primary34 {
    background-color: #CA31AB !important;
    background-repeat: no-repeat;
    background-size: 460px;
    background-position: right;
  }
  .bg-primary35 {
    background-color: rgb(129, 106, 1) !important;
    background-repeat: no-repeat;
    background-size: 460px;
    background-position: right;
  }


 